{
  "extends": "airbnb",
  "plugins": [
    "react-hooks"
  ],
  "settings": {
    "import/resolver": {
      "alias": [
        ["~components", "./src/components"],
        ["~utilities", "./src/utilities"],
        ["~state", "./src/state"]
      ]
    }
  },
  "rules": {
    "semi": ["error" , "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
